<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>
<body>
    <header>
        <h1>My Tout-Doux App</h1>
        <hr>
    </header>
    <main>
        <input type="text" placeholder="Type a new To-Do">
        <button type="button">Add To-Do</button>
        <hr>
        <h2>To-Do's:</h2>
            <div>
                <input type="checkbox" id="todo-1" name="todo-1">
                <label for="todo-1">Learn React</label>
            </div>
            <div>
                <input type="checkbox" id="todo-2" name="todo-2">
                <label for="todo-2">Learn React, fo' real !</label>
            </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>